# Simple Load Balancer
upstream static  {
  least_conn;
  {% for host in groups['web'] %}
      server {{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}:8080 max_fails=1  fail_timeout=15s;
  {% endfor %}
}
server {
  listen 80;

  location / {
    proxy_pass http://static/;
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_next_upstream error timeout;
  }
}
